<footer class="section-p1">
  <div class="col">
  <div class="follow">    
  <h4>Follow us</h4>
  <div class="icon">
  <fa-icon [icon]="facebook"></fa-icon>
  <fa-icon [icon]="twitter"></fa-icon>
  <fa-icon [icon]="insta"></fa-icon>
  <fa-icon [icon]="pinterest"></fa-icon>

</div>
</div>
</div>
  <div class="col"> 
      <h4>About </h4>
      <a href="#">About Us</a>
      <a href="#">Deivery Information</a>
      <a href="#">Privacy Policy</a>
      <a href="#">Terms & Conditions</a>
      <a href="#">Contact Us</a>
  </div>

  <div class="col"> 
      <h4>My Account </h4>
      <a href="#">Sign In</a>
      <a href="#">View Cart</a>
      <a href="#">My Wishlist</a>
      <a href="#">Track My Order</a>
      <a href="#">Help</a>
  </div>
  <div class="copyright" >
  <p>© Copy Right 2023 </p>
  </div>

</footer>